
	#combatContainer {
		position: absolute;
		top:50%;
		left:50%;
		width:180px;
		height:120px;
		margin-left:-90px;
		margin-top:0px;
		z-index:10;
		opacity:1.0;
		display:none;
		transform:scale(1.5);
	}
	#combatContainer * {
		width:48px;
		height:48px;
		color:#000;
		font-size:24px;
		font-weight:bold;
		text-align: center;
		line-height:44px;
		pointer-events:all;
		opacity: 0.45;
		border-radius:12px;
		border:3px solid black;
	}
	#currentSkill {
		position: absolute;
		top:60px;
		left:60px;
		width:48px;
		height:48px;
		background: url('../img/3/skillicons.png') no-repeat;
		opacity:0.75;
		display:none;
		border-radius:12px;
		border:3px solid black;
	}

	#shortcut_bar {
		position: absolute;
		bottom:12px;
		right:0;
		width:60px;
		height:60px;
		color:#fff;
		opacity:0.75;
		/*border-radius: 10% / 5% !important;*/
		padding:0;
		margin:0;
		z-index:20;
	}

	#shortcut_bar:before {
		border-radius: 10% / 5% !important;
	}

	#shortcut_bar div div * {
		font-family: "GraphicPixel";
	}

#attack-shortcut {
	position: absolute;
	bottom: 0;
	right: 0;
	width:55px;
	height:55px;
	pointer-events: all;
	cursor: pointer;
	margin: 0;
	padding: 0;
	opacity: 0.75;
	border: 3px solid #333;
}

#attack-shortcut .attackSC {
	display:block;
	position:absolute;
	left: 50%;
	top: 50%;
	margin-left:-21px;
	margin-top:-21px;
	width:42px;
	height:42px;
	font-family: "GraphicPixel";
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	line-height: 40px;
	color: #FFFFFF;
	text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
	background: url('../img/3/misc/sword.png') no-repeat;
	background-size: 42px 42px;
}

#scbackground0,  #scbackground1,  #scbackground2,  #scbackground3,
#scbackground4,  #scbackground5,  #scbackground6,  #scbackground7 {
	position: absolute;
	width: 60px;
	height: 60px;
	pointer-events: all;
	cursor: pointer;
	background: url('../img/3/misc/shortcutbackground.png') no-repeat;
	background-size: 60px 60px;
	margin: 0;
}

/* #shortcut_bar.vertical-asc */
#attack-shortcut, #shortcut_bar.vertical-desc #attack-shortcut {
	bottom: 0;
	right: 0;
}
#scbackground0, #shortcut_bar.vertical-desc #scbackground0 {
	bottom: 60px;
	right: 0;
}
#scbackground1, #shortcut_bar.vertical-desc #scbackground1 {
	bottom: 120px;
	right: 0;
}
#scbackground2, #shortcut_bar.vertical-desc #scbackground2 {
	bottom: 180px;
	right: 0;
}
#scbackground3, #shortcut_bar.vertical-desc #scbackground3 {
	bottom: 240px;
	right: 0;
}
#scbackground4, #shortcut_bar.vertical-desc #scbackground4 {
	bottom: 300px;
	right: 0;
}
#scbackground5, #shortcut_bar.vertical-desc #scbackground5 {
	bottom: 360px;
	right: 0;
}

/* #shortcut_bar.vertical-desc */
#shortcut_bar.vertical-asc #attack-shortcut {
	bottom: 360px;
	right: 0;
}
#shortcut_bar.vertical-asc #scbackground0 {
	bottom: 300px;
	right: 0;
}
#shortcut_bar.vertical-asc #scbackground1 {
	bottom: 240px;
	right: 0;
}
#shortcut_bar.vertical-asc #scbackground2 {
	bottom: 180px;
	right: 0;
}
#shortcut_bar.vertical-asc #scbackground3 {
	bottom: 120px;
	right: 0;
}
#shortcut_bar.vertical-asc #scbackground4 {
	bottom: 60px;
	right: 0;
}
#shortcut_bar.vertical-asc #scbackground5 {
	bottom: 0px;
	right: 0;
}

/* #shortcut_bar.horizontal-asc */
#shortcut_bar.horizontal-asc #attack-shortcut {
	bottom: 0;
	right: 360px;
}
#shortcut_bar.horizontal-asc #scbackground0{
	bottom: 0;
	right: 300px;
}
#shortcut_bar.horizontal-asc #scbackground1 {
	bottom: 0;
	right: 240px;
}
#shortcut_bar.horizontal-asc #scbackground2 {
	bottom: 0;
	right: 180px;
}
#shortcut_bar.horizontal-asc #scbackground3 {
	bottom: 0;
	right: 120px;
}
#shortcut_bar.horizontal-asc #scbackground4 {
	bottom: 0;
	right: 60px;
}
#shortcut_bar.horizontal-asc #scbackground5 {
	bottom: 0;
	right: 0;
}

/* #shortcut_bar.horizontal-desc */
#shortcut_bar.horizontal-desc #scbackground5 {
	bottom: 0;
	right: 360px;
}
#shortcut_bar.horizontal-desc #scbackground4 {
	bottom: 0;
	right: 300px;
}
#shortcut_bar.horizontal-desc #scbackground3 {
	bottom: 0;
	right: 240px;
}
#shortcut_bar.horizontal-desc #scbackground2 {
	bottom: 0;
	right: 180px;
}
#shortcut_bar.horizontal-desc #scbackground1 {
	bottom: 0;
	right: 120px;
}
#shortcut_bar.horizontal-desc #scbackground0 {
	bottom: 0;
	right: 60px;
}
#shortcut_bar.horizontal-desc #attack-shortcut {
	bottom: 0;
	right: 0;
}

#shortcut0,  #shortcut1,  #shortcut2,  #shortcut3,
#shortcut4,  #shortcut5,  #shortcut6,  #shortcut7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background-color: 'transparent';
  background-repeat: no-repeat !important;
  text-align: center;
  line-height:42px;
  color: #fff;
	font-size:14px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin:6px;
	border-radius:6px;
	opacity: 0.75;
}

.scCD {
	position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #ff0000;
  background-repeat: no-repeat !important;
  text-align: center;
  line-height:42px;
  color: #fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size:16px;
  opacity: 0.5;
	margin:0;
	display: none;
	border-radius:6px;
}

.scSC {
	z-index: 15;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 55px;
	height: 21px;
	font-size: 14px;
	color: white;
	cursor: default;
	font-weight: bold;
	pointer-events: none;
	opacity: 0.8;
	text-align: center;
	margin:4px;
	line-height: 32px;
}

#skillList div.skillbody {
	position:absolute;
	display: block;
	margin:0;
	padding:0;
}

#skillList div.skillcd {
	background-color: #ff0000;
	border: 3px solid #000000;
	display: none;
	position:absolute;
	left:0;
	top:0;
	margin:0;
	padding:0;
	width:72px;
	height:72px;
	z-index:15;
	color: white;
	cursor: default;
	font-family: "GraphicPixel";
	font-weight: bold;
	pointer-events: none;
	opacity: 0.5;
	text-align: center;
  line-height:50px;
  color: #fff;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	font-size:24px;
}

.combatProgress {
		width: 0%;
    background-color: #e4c465;
    animation: progressBar 1s linear;
    animation-fill-mode:both;
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}
